/* header code */
* {
    text-decoration: none;
    padding: 0;
    margin: 0;
}
* header{
    color: rgb(0, 0, 0);
    background-color: black;
    height: 250px;
}
* header h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Brush Script MT",cursive;
    font-size: 100px;
    
}


* header ul{
    color:white;
    list-style-type: none;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 20px;
    margin-top: 50px;

}
* header li{
    float:left;
    padding-left: 350px;
}
* header a{
    color:white;

}
* main h2{
    color: blue;
    text-align: center;
    font-family: "Helvetica", Arial, sans-serif;
    margin-top: 80px;
}
main img {
    width: 300px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image behaves as a block element */
    margin-left: 0; /* Set left margin to 0 */
    margin-right: auto; /* Auto right margin */
}
#section1{
    text-align: center;

}
#section1{
    font-size: 20pt;
}
#section1 img{
    width: 200px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image behaves as a block element */
    margin-left: auto; /* Auto left margin */
    margin-right: auto; /* Auto right margin */
}
* #section1 ul li a{
    color: black;
    

}
* #section1 ul{
    background-color: white;
    padding: 4px;
    font-family: "Helvetica", Arial, sans-serif;
       
}
* #section1 ul li {
    border-bottom: 5px solid #ccc; /* Add border line between list items */
    margin-top: 50px;
}

#section1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
* main h3 {
    color: grey;
    text-align: center;
    border-bottom: 100px solid #ffffff; /* Add border line between list items */
    font-family: "Helvetica", Arial, sans-serif;
}
* main h4 {
    color: red;
    text-align: center;
    font-family: "Helvetica", Arial, sans-serif;
}
* main p {
    color: grey;
}
* header h5{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Helvetica", Arial, sans-serif;
}