/* header code */
* {
    text-decoration: none;
    padding: 0;
    margin: 0;
}
* header{
    color: white;
    background-color: black;
    height: 100px;
}
* header h1{
    color: white;
}
* header ul{
    color:white;
    list-style-type: none;

}
* header li{
    float:left;
    padding-left: 20px;
}
* header a{
    color:white;

}